/** MENU DESPLEGABLE CURSO**/
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
}

.drawercontent {
    position: relative;
    z-index: -1;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: unset;
    flex-wrap: nowrap;
    overflow-y: auto;
    padding: 0.4rem;
 
}

.drawer.drawer-left {
    width: 320px;
    max-width: 320px;
    left: calc(-320px + -10px);
    visibility: hidden;
}

@media (min-width: 768px) {
.drawer {
    z-index: 1;
}
}
.courseindex .courseindex-item {
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

/** TIPOGRAFIA**/
#page-header {
  font-family: 'Open Sans';
}

body {
font-family: 'Open Sans';
}

#page {
    opacity: 1 !important;
    display: block;
    transition: all 1s ease !important;
background: #6F0E62 ;
}

/** SLIDER **/
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.33333333333333333333333333333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

/** LOGIN **/


.login-container {
background: #fff;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
background: #6F0E62 ;
}

.pagelayout-login #page {
background: #6F0E62 ;
}

 .btn-primary {
    color: #fff;
    background-color:  #6F0E62 ;
    border-color: #6F0E62 ;
}

.btn-secondary {
    color: #fff;
    background-color: #4b8bc9;
    border-color: #4b8bc9;
}

.form-control {
    font-size: 1em!important;
}

body#page-login-index .form-control {
    display: block;
    width: 100%;
    padding: 10px!important;
    line-height: 1.5;
    color: #fff;
    background-clip: padding-box;
    border: none!important;
    border-radius: 5px;
    transition: none;
    font-size: .857143em;
    height: auto;
 color: #fff;
    background-color: #4B8BC9;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fefefe !important;
    opacity: 1;
    /* Firefox */
}
body#page-login-index #loginbtn:hover {
    background: #0f6cbf !important;
    color: #fff;
}

/** HEADER **/
.dropdown-toggle::after {
    content: '\f078';
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0;
    font-family: 'FontAwesome';
    border: none;
    color: #B63F7C;
font-size: 16px !important;
}

.navbar .fa {
    color: #B63F7C;
    font-size: 21px !important;
}

.userinitials {
    background-color: #B63F7C;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    margin-right: 0.25rem;
}

.userinitials.size-35 {
    width: 40px;
    height: 40px;
}

/** ENCABEZADOS **/

.page-header-headings h1 {
    font-size: 1.9em;
    line-height: 110%;
    border-left: 30px solid #B63F7C;
    padding-left: 20px;
    font-weight: 600;
    max-width: 860px;
    margin: auto;
    width: 100%;
    border-radius: 0;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

#page-header h1.h2 {
    font-weight: 450 !important;
    color: #6F0E62 !important;
}

h3, .h3 {
    font-size: 1.640625rem;
    font-weight: 350 !important;
    color: #6F0E62 !important;
}

.icons-collapse-expand .expanded-icon {
    color: #B63F7C !important;
}

.icon-no-margin .icon {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #B63F7C !important;
}

h5, .h5 {
    color: #6F0E62 !important;
}

h4, .h4 {
    color: #6F0E62 !important;
}

h6, .h6 {
    color: #6F0E62 !important;
}

h2, .h2 {
    color: #6F0E62 !important;
}

/** SECONDARY NAVIGATION **/

.secondary-navigation .navigation .nav-tabs .nav-link {
    border-radius: initial;
    color: #4B8BC9 !important;
}

.moremenu .nav-link.active {
    background-color: #f8f9fa;
    border-color: transparent;
    border-bottom-color: #4B8BC9 !important;
}

/** FOOTER **/

#page-footer.nova-foot {
    padding-bottom: 30px !important;
    line-height: 120%;
    color: #fff !important;
    text-align: left;
    background-color: #6F0E62 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
}

.adres {
    color: #fff;
    letter-spacing: .3px;
    font-size: 1.04762em;
    line-height: 120%;
    width: 285px;
    margin: 0;
    margin-left: auto;
    border-left: 2px solid white;
    height: 100%;
    display: flow-root;
    padding-left: 80px;
    padding-bottom: 30px;
}

#page-footer p{
    margin-top: -30px;
}

#page-footer a {
    text-decoration: underline !important;
    filter: brightness(5);
    margin: 0;
    border-top: none;
    text-decoration: none;
}

.adres small {
    width: 100%;
    float: left;
    display: block;
    margin-right: 5px;
}

#page-footer a:hover {
    color: #4270B1;
    filter: brightness(1.8);
}

@media only screen and (max-width: 768px) {

    footer#page-footer {
        background-size: 200vh !important;
        background-position-x: center !important;
        background-position-y: bottom;
    }

    .adres {
        margin-left: 0;
        border: none;
        padding-left: 30px;
    }

    #page-my-index #region-main.has-blocks {
        margin-top: 0;
        width: 100%;
    }
}

#page-footer .row1 {
    margin: 0 auto;
    float: left;
    width: 100%;

}

#page-footer .row2 {
    margin: 0 auto;
    float: left;
    width: 100%;
    margin-left: 20%;
}

.nova-foot ul,
.nova-foot ol {
    float: left;
    margin-left: 1%;
    list-style-type: none;
    padding: 0;
}

.nova-foot ol li a {
    color: #333;
    font-weight: bold;
}

.nova-foot ol li {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    line-height: 20px;
}

.nova-foot ul li a {
    color: #777;
}

.nova-foot ul li:first-child a {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.adres2 {
    display: none !important;
    border-top: 1px solid #B8B2B2;
    width: 80%;
    margin-top: 2px;
    display: block;
    float: left;
    color: #4D4D4D;
    font-weight: bold;
    position: relative;
    left: 10%;
    right: 10%;
}

#page-footer {

    .row.large {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        display: none;
    }

    .columnnuevo {
        text-align: center;
        word-break: keep-all;
        border-style: solid;
        border-width: 0px 1px 0px 0px;
        border-color: #4B8BC9;
    }

    .columnnuevo.last {
        border: none;
    }

    .column3 {
        width: 33.333333333%;
        float: left;
    }

}

@media screen and (min-width: 850px) and (max-width: 1350px) {

    .drawer-open-left #page-footer {


        .columnnuevo.last {
            border-style: solid;
            border-width: 0px 1px 0px 0px;
            border-color: #4B8BC9;
        }

        .column3 {
            width: 33.333333333%;
            float: left;
        }

        .column3 .column3 {
            width: 100%;
            float: left;
        }

        .row.large {
            margin-bottom: 0px;

        }

        .adres2 {
            display: none !important;
            margin-top: 10px;
        }

    }

}

@media screen and (min-width: 850px) and (max-width: 1050px) {

    #page-footer {


        .columnnuevo.last {
            border-style: solid;
            border-width: 0px 1px 0px 0px;
            border-color: #4B8BC9;
        }


        .column3 {
            width: 33.333333333%;
            float: left;
        }

        .column3 .column3 {
            width: 100%;
            float: left;
        }

        .row.large {
            margin-bottom: 0px;

        }

        .adres2 {
            display: none !important;
            margin-top: 10px;
        }

    }

}

@media screen and (max-width: 849px) {

    .column3 {
        width: 100%;
        text-align: center;
        margin-bottom: 2px;
    }

    .adres {
        width: 410px;
        margin: 0 auto;
        float: none;
        position: initial;
    }


}

.adres small {

    width: 200px;
    float: left;
    display: block;
    margin-right: 5px;
}

.social {
    float: left;
    height: 27px;
    margin-right: 40px;
    margin-bottom: 45px;
    width: 100%;
}

.red {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 5px !important;
}


.insta {
    background-image: url([[pix:theme|logos-svg/insta]]);

}

.face {
    background-image: url([[pix:theme|logos-svg/face]]);
}

.twi {
    background-image: url([[pix:theme|logos-svg/twi]]);
}

.reddelinkedin {
    background-image: url([[pix:theme|logos-svg/linkedin]]);
}

.youtube {
    background-image: url([[pix:theme|logos-svg/youtube]]);
}

.cloud {
    background-image: url([[pix:theme|logos-svg/cloud]]);
}

.cloud:hover {
    background-image: url([[pix:theme|logos-svg/cloud]]);
}

.insta:hover {
    background-image: url([[pix:theme|logos-svg/insta]]);

}

.face:hover {
    background-image: url([[pix:theme|logos-svg/face]]);
}

.twi:hover {
    background-image: url([[pix:theme|logos-svg/twi]]);
}

.reddelinkedin:hover {
    background-image: url([[pix:theme|logos-svg/linkedin]]);
}

.youtube:hover {
    background-image: url([[pix:theme|logos-svg/youtube]]);
}

.detail {
    float: left !important;
}

/** BARRA DE SCROLL**/
.drawercontent::-webkit-scrollbar-thumb {
    background-color: #6F0E62;
    border-radius: 20px;
    border: 3px solid #f8f9fa;
}

.drawercontent::-webkit-scrollbar-thumb:hover {
    background-color: #B63F7C;
    border-radius: 20px;
    border: 3px solid #f8f9fa;
}

.courseindex .courseindex-item.pageitem {
    background-color: #4B8BC9;
    color: #fff;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}


::-webkit-scrollbar-thumb:horizontal {
    background-color: #6F0E62;
   height: .5em;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #6F0E62;
   width: .5em;
    border: 1px solid #B63F7C;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #B63F7C;
}

::-webkit-scrollbar-thumb:active {
    background-color: #B63F7C;
}

.drawercontent::-webkit-scrollbar-thumb {
    background-color: #6F0E62;
    border-radius: 20px;
    border: 3px solid #f8f9fa;
}
