
{{!
}}


<footer id="page-footer" class="py-3 text-light nova-foot" style="background-color:#fff;" aria-label="Footer del sitio"> 
  <div class="container-fluid">
    <div id="course-footer">
     {{{ output.course_footer }}} 
    </div>
    <div class="links clearfix">
      <div class="adres">
        <div class="social" aria-label="Redes sociales">
          <a class="red insta" aria-label="Instagram" href=""></a>
          <a class="red face" aria-label="Facebook" href=""></a>
          <a class="red twi" aria-label="Twitter" href=""></a>
          <a class="red reddelinkedin" aria-label="Linkedin" href=""></a>
          <a class="red youtube" aria-label="Youtube" href=""></a>
        </div>
        <div class="detail">
          <p><a href="https://defensadelpublico.gob.ar/">defensadelpublico.gob.ar</a><br>Defensoría del público  
          <br>de Comunicación Audiovisual </p>
          <div>
            Dirección (C1050AAN)<br>
            Ciudad Autónoma de <br>
            Buenos Aires, Argentina<br>
            +54 11 11111111
          </div>
        </div>
      </div> 
    </div>
    {{{ output.standard_footer_html }}}
    {{{ output.standard_end_of_body_html }}}
  </div>

</footer>

